<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<html>
  <head>
      <meta charset="UTF-8">
      <title>loan or invest</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Pay Off Debt or Start Investing</h1>
    <hr>
    <div style="display: flex">
      <div class="form">
        <h2>loans and investments</h2>
        <form id="loan-form" method="post">
          <p>Time period in years: {{ form.time_period_years }}</p>
          <p>Investment annual return%: {{ form.invest_return }}</p>
          <p>Flex amount: {{ form.flex_amount }}</p>
          <li class="helper">Monthly amount that can be applied to either paying off loan or investing.</li>
          <P>Loan payment rollover %: {{ form.loan_payment_rollover }}</p>
          <li class="helper">percentage of loan payments that become investment once loans are paid off.</li>
          <hr>
          {% csrf_token %}

          {{ formset.management_form }}
          <div id="form_set">
            {% for loan in formset %}
              <div class="form-row">
                {{ loan.as_p }}
                <hr>
              </div>
            {% endfor %}
          </div>

          <input id="submit-button" type="submit" value="Submit">
          <button type="button" onclick="newLoan()">Add Loan</button>

          <div id="empty_form" style="display:none">
            <div class="form-row">
              {{ formset.empty_form.as_p }}
              <button type="button" id="remove_loan" onclick="removeLoan(this)">X</button>
              <hr>
            </div>
          </div>
        </form>

      </div>


      <div class="output">
        <h3>Payoff loan first:</h3>
        <p>Amount saved: {{ loan_payoff_saving }}</p>
        <p>Total loan cost: {{ total_loan_cost_payoff }}</p>
        <p>Total investment: {{ total_investment_earnings_payoff }}</p>
        <p>Investment earning: {{ loan_payoff_investment_earnings }}</p>
        <p>combined earning and savings: {{ combined_savings_and_earnings }}</p>
        <p>Uses the flex amount to payoff loans faster. Then starts investing using the flex amount plus the rollover percentage of your combined loan payments.</p>
        <hr>
        <h3>Invest during loan:</h3>
        <p>Total loan cost: {{ total_loan_cost_invest }}</p>
        <p>Total investment: {{ total_investment_earnings_invest }}</p>
        <p>Investment earning: {{ invest_loan_cost }}</p>
        <p>Uses the flex amount to start investing. Once loans are paid off shift the rollover percentage of your combined loan payments to investing.</p>
      </div>
    </div>

    <script>
      function newLoan() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      }

      function removeLoan(e) {
        e.parentElement.remove();
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) - 1);
      }
    </script>
  </body>
</html>