<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<html>
  <head>
      <meta charset="UTF-8">
      <title>Is it better to pay off your loan or invest</title>
  </head>
  <body>
    <h1>Pay Off Debt or Start Investing</h1>
    <hr>
    <div style="display: flex">
      <div class="form">
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}

          {{ formset.management_form }}
          {% for loan in formset %}
            <div class="form-row">
              {{ loan.as_p }}
              <button type="button" class="remove-fomr">Remove</button>
            </div>
          {% endfor %}
          <button type="button" id="add-form">Add Loan</button>
          <input type="submit" value="submit">
        </form>
      </div>


      <div>
        <p>Amount made by paying off loan first: {{ loan_payoff_cost }}</p>
        <p>invest during loan: {{ invest_loan_cost }}</p>
      </div>
    </div>
  </body>
</html>